<section class="mt-5 pt-2">

    <div class="container">

        <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetpass()">
            <label for="email" class="fs-2 fw-bold mb-2">Please Enter Your Email:</label>
            <input [ngClass]="{
                'is-valid':!forgetPasswordForm.get('email')?.errors && (forgetPasswordForm.get('email')?.touched || forgetPasswordForm.get('email')?.dirty),
                'is-invalid':forgetPasswordForm.get('email')?.errors && (forgetPasswordForm.get('email')?.touched || forgetPasswordForm.get('email')?.dirty)
            }" formControlName="email" type="email" placeholder="email" class="form-control p-3">

              
              <p>{{resetCode}}</p>

              <button class="btn border-2 border-success mt-2 ms-2 p-2 px-3 fw-semibold ">Verify</button>
            
        </form>

       

    </div>

</section>
