<section class=" mx-auto  my-4 ">
    <div class="container">
        <h1 class="text-dark fw-bold fs-4 ms-2">reset your account password</h1>

     <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
         
        <div class="inputEmail mx-2">
            <label for="email">Email:</label>
            <input [ngClass]="{
                'is-valid':!resetPassForm.get('email')?.errors && (resetPassForm.get('email')?.touched || resetPassForm.get('email')?.dirty),
                'is-invalid':resetPassForm.get('email')?.errors && (resetPassForm.get('email')?.touched || resetPassForm.get('email')?.dirty)
            }" formControlName="email" type="email" placeholder="email" class="form-control py-3">

            @if (resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched) {
                <div class=" alert alert-warning fs-6 fw-bold my-2">
                    @if (resetPassForm.get('email')?.getError('required')) {
                        <p class="m-0">Email Is Required</p>
                    }
                    @else if (resetPassForm.get('email')?.getError('email')) {
                        <p class="m-0">email Format Is Not Correct</p>
                    }
                </div>
            }
            
        </div>
        <div class="inputPass mx-2 my-3">
            <label for="newPassword">new Password:</label>
            <input [ngClass]="{
                'is-valid':!resetPassForm.get('newPassword')?.errors && (resetPassForm.get('newPassword')?.touched || resetPassForm.get('newPassword')?.dirty),
                'is-invalid':resetPassForm.get('newPassword')?.errors && (resetPassForm.get('newPassword')?.touched || resetPassForm.get('newPassword')?.dirty)
            }" formControlName="newPassword" type="password" placeholder="newPassword" class="form-control py-3">
            

            @if (resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched) {
                <div class=" alert alert-warning fs-6 fw-bold my-2">
                    @if (resetPassForm.get('newPassword')?.getError('required')) 
                    {
                        <p class="m-0">Password Is Required</p>
                    }
                    @else if (resetPassForm.get('newPassword')?.getError('pattern')) 
                    {
                        <p class="m-0">password Format Is Not Correct</p>
                    }
                </div>
            }
            
        </div>

        <button class="btn border-1 border-success p-2 mt-2 rounded-3 fw-bold fs-6 ms-2">reset Password</button>
      </form>
    </div>
   

</section>